body{
    background-color: #d996a7;
}

h1{
    color: #33000d;
    padding-left: 25%;
    padding-right: 25%;
}

h2{
    color: #33000d;
    padding-left: 25%;
    padding-right: 25%;
}

h3{
    color: #33000d;
    padding-left: 15%;
    padding-right: 15%;
}